body{
  margin: 10;
  padding: 0;
  background-color: rgb(54, 54, 54);
}
.craie{
  width: 10rem;
  background-color: rgb(248, 242, 240);
  height: 1.5rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  border-radius: 8px 0 0 8px;
  pointer-events: none;
}

.craie_box{
  width: 10rem;
  height: 2.5rem;
  background-color: transparent;
  position: fixed;
  bottom: 0.6rem;
  left: 1rem;
}
.background{
  position: fixed;
  top: 7px;
  left: 7px;
  bottom: 7px;
  right: 7px;
  background-image: radial-gradient(rgb(25, 25, 25), black);
  z-index: -1;
  border-radius: 8px;
}
